::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.size-btn.active {
  background-color: #1f2937;
  color: #ffffff;
  border-color: #1f2937;
}

.thumb-btn.active {
  border-bottom: 2px solid #f97316;
}