.search-border-bottom {
  border-bottom: 1px solid #c4c4c4;
}

.recent-tag {
  background-color: #f9f9f9;
  color: #555555;
  border-radius: 30px;
  padding: 6px 12px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}