@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
  font-family: 'Tenor Sans', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

a, button {
  transition: all 0.2s ease-in-out;
}

a:active, button:active {
  opacity: 0.8;
}